# Rename this file to .env and add your details
NASA_API_KEY="your_api_key"
NASA_API_BASE_URL="https://api.nasa.gov/neo/rest/v1"
DB_PATH="data/neows.db"
RAW_DIR="data/raw"
WINDOW_MODE="future"
START_DATE=""
END_DATE=""
